@import "tailwindcss";
@plugin "@tailwindcss/forms";

@font-face {
  font-family: "TX-02";
  src: url("licensed/BerkeleyMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TX-02";
  src: url("licensed/BerkeleyMono-Oblique.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "TX-02";
  src: url("licensed/BerkeleyMono-Oblique.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "TX-02";
  src: url("licensed/BerkeleyMono-Medium-Oblique.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "TX-02";
  src: url("licensed/BerkeleyMono-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TX-02";
  src: url("licensed/BerkeleyMono-SemiBold-Oblique.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "TX-02";
  src: url("licensed/BerkeleyMono-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TX-02";
  src: url("licensed/BerkeleyMono-Bold-Oblique.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "TX-02";
  src: url("licensed/BerkeleyMono-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TX-02";
  src: url("licensed/BerkeleyMono-Black-Oblique.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@theme {
  --font-mono: "TX-02", "ui-monospace";
}

