<div class="text-center min-h-screen flex flex-col items-center justify-center">
  <div class="text-4xl font-bold">Robodash</div>
  <div class="text-xl">Monitor bg jobs and uptime</div>

  <div class="mt-8 px-4">
    <div class="bg-zinc-900/50 backdrop-blur-md rounded-lg px-3 py-2 text-left">
      <div class="text-zinc-400"># Very easy to setup</div>
      <div>
        <span class="text-amber-400">Robodash</span><span class="text-zinc-500">.</span><span class="text-blue-400">api_token</span>
        <span class="text-teal-400">=</span>
        <span class="text-green-400">"Your token"</span>
      </div>
      <span class="text-amber-400">Robodash</span><span class="text-zinc-500">.</span><span class="text-blue-400">ping</span><span class="text-zinc-500">(</span><span class="text-green-400">"A bg job"</span><span class="text-zinc-500">)</span>
    </div>
  </div>

  <div class="mt-8">
    <% if authenticated? %>
      <% if dashboard = Current.user.dashboards.first %>
        <%= link_to dashboard, class: "bg-gradient-to-b from-blue-500 to-blue-600 hover:to-blue-700 text-white rounded-lg px-3 h-10 flex items-center border border-blue-400/60 shadow cursor-pointer text-base font-medium" do %>
          <div class="inline-flex items-center">
            Go to:
            <div class="inline-flex items-center ml-2 bg-zinc-900/50 rounded-md px-2 py-1 -mr-1.5 text-sm">
              <%= dashboard.name %>
              dashboard
            </div>
          </div>
        <% end %>
      <% else %>
        No dashboards available
      <% end %>
    <% else %>
      <%= link_to new_session_path, class: "bg-gradient-to-b from-blue-500 to-blue-600 hover:to-blue-700 text-white rounded-lg px-3 h-10 flex items-center border border-blue-400/60 shadow cursor-pointer text-base font-medium" do %>
        <div>Login</div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5 ml-1">
          <path fill-rule="evenodd" d="M17 4.25A2.25 2.25 0 0 0 14.75 2h-5.5A2.25 2.25 0 0 0 7 4.25v2a.75.75 0 0 0 1.5 0v-2a.75.75 0 0 1 .75-.75h5.5a.75.75 0 0 1 .75.75v11.5a.75.75 0 0 1-.75.75h-5.5a.75.75 0 0 1-.75-.75v-2a.75.75 0 0 0-1.5 0v2A2.25 2.25 0 0 0 9.25 18h5.5A2.25 2.25 0 0 0 17 15.75V4.25Z" clip-rule="evenodd" />
          <path fill-rule="evenodd" d="M1 10a.75.75 0 0 1 .75-.75h9.546l-1.048-.943a.75.75 0 1 1 1.004-1.114l2.5 2.25a.75.75 0 0 1 0 1.114l-2.5 2.25a.75.75 0 1 1-1.004-1.114l1.048-.943H1.75A.75.75 0 0 1 1 10Z" clip-rule="evenodd" />
        </svg>
      <% end %>

    <% end %>
  </div>
</div>

