<div class="text-center min-h-screen flex flex-col items-center justify-center">
  <div class="text-4xl font-bold">Robodash</div>
  <div class="text-xl">Monitor bg jobs and uptime</div>

  <div class="mt-8 px-4">
    <div class="bg-gradient-to-br from-zinc-200/60 from-10% via-30% via-zinc-400/20 to-zinc-400/20 backdrop-blur-sm rounded-xl p-[1px] shadow ">
      <div class="bg-zinc-900/50 rounded-xl px-3 py-2 text-left">
        <div class="text-zinc-400"># Very easy to setup</div>
        <div class="">
          <span class="text-amber-400">Robodash</span><span class="text-zinc-500">.</span><span class="text-blue-400">api_token</span>
          <span class="text-teal-400">=</span>
          <span class="text-green-400">"Your token"</span>
        </div>
        <div class="">
          <span class="text-amber-400">Robodash</span><span class="text-zinc-500">.</span><span class="text-blue-400">ping</span><span class="text-zinc-500">(</span><span class="text-green-400">"A bg job"</span><span class="text-zinc-500">)</span>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-8">
    <% if authenticated? %>
      <% if dashboard = Current.user.dashboards.first %>
        <%= link_to dashboard, class: "flex items-center text-base shadow-xl shadow-cyan-600/20 bg-gradient-to-br from-cyan-200 from-10% via-30% via-cyan-300/90 to-cyan-300/80 p-[1.5px] rounded-full drop-shadow-[0_1.5px_0px_theme(colors.cyan.700)]" do %>
          <div class="rounded-full bg-gradient-to-b from-cyan-500 to-cyan-600 text-white px-4 h-10 flex items-center shadow-sm font-medium inset-shadow-[0_0_10px_rgba(255,255,255,.4)]">
            Open
            dashboard

            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 ml-2 -mr-1.5 text-white/80">
              <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm4.28 10.28a.75.75 0 0 0 0-1.06l-3-3a.75.75 0 1 0-1.06 1.06l1.72 1.72H8.25a.75.75 0 0 0 0 1.5h5.69l-1.72 1.72a.75.75 0 1 0 1.06 1.06l3-3Z" clip-rule="evenodd" />
            </svg>
          </div>
        <% end %>
      <% else %>
        No dashboards available
      <% end %>
    <% else %>
      <%= link_to new_session_path, class: "flex items-center text-base shadow-xl shadow-cyan-600/20 bg-gradient-to-br from-cyan-200 from-10% via-30% via-cyan-300/90 to-cyan-300/80 p-[1.5px] rounded-full drop-shadow-[0_1.5px_0px_theme(colors.cyan.700)]" do %>
        <div class="rounded-full bg-gradient-to-b from-cyan-500 to-cyan-600 text-white px-4 h-10 flex items-center shadow-sm font-medium inset-shadow-[0_0_10px_rgba(255,255,255,.4)]">
          <div>Login</div>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5 ml-1 text-white/80">
            <path fill-rule="evenodd" d="M17 4.25A2.25 2.25 0 0 0 14.75 2h-5.5A2.25 2.25 0 0 0 7 4.25v2a.75.75 0 0 0 1.5 0v-2a.75.75 0 0 1 .75-.75h5.5a.75.75 0 0 1 .75.75v11.5a.75.75 0 0 1-.75.75h-5.5a.75.75 0 0 1-.75-.75v-2a.75.75 0 0 0-1.5 0v2A2.25 2.25 0 0 0 9.25 18h5.5A2.25 2.25 0 0 0 17 15.75V4.25Z" clip-rule="evenodd" />
            <path fill-rule="evenodd" d="M1 10a.75.75 0 0 1 .75-.75h9.546l-1.048-.943a.75.75 0 1 1 1.004-1.114l2.5 2.25a.75.75 0 0 1 0 1.114l-2.5 2.25a.75.75 0 1 1-1.004-1.114l1.048-.943H1.75A.75.75 0 0 1 1 10Z" clip-rule="evenodd" />
          </svg>
        </div>
      <% end %>

    <% end %>
  </div>
</div>

