<div>
  <div class="font-black text-sm <%= 'text-[#f10000]' if counter.down? %>"><%= counter.count %></div>
  <div class="text-sm text-zinc-400 flex items-center">
    Range:
    <%= counter.min %> - <%= counter.max %>
  </div>
</div>
